<% provide(:title, 'About Us') %>
<div class="hero-unit">
	<h1>About Us</h1>
	<p>
		This is the about page.  Using the Hero Unit style.
	</p>
</div>
<div class="test-css-class-on-about-page">
	CSS classes being picked up from layout.css.scss?
</div>