<% provide(:title, 'About Us') %>
<div class="hero-unit">
	<div class="page-header">
		<h1>About</h1>
	</div>
	<p>
		"Where'd my cash go yo" is a simple budget application.  The main purpose of this application was for me to learn the Ruby on Rails web framework.  It is however fully functional and if you have stumbled upon the site you are welcome to sign-up and use it!
	</p>
	<p>
		The application is hosted on <a href="http://www.heroku.com" target="_blank">Heroku</a> and the source code is available on <a href="https://github.com/Nico44/wmcgy2" target="_blank">Github.</a>
	</p>
	<p>
		Core technologies include:
		<ul>
			<li><a href="http://rubyonrails.org/" target="_blank">Rails 3.2</a></li>
			<li><a href="http://www.postgresql.org/" target="_blank">Postgres</a></li>
			<li><a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter bootstrap</a></li>
			<li><a href="http://sass-lang.com/" target="_blank">Sass</a></li>
			<li><a href="http://coffeescript.org/" target="_blank">Coffeescript</a></li>
			<li><a href="http://rspec.info/" target="_blank">RSpec</a> / <a href="https://github.com/jnicklas/capybara" target="_blank">Capybara</a></li>
		</ul>
	</p>
	<p>
		A few of the awesome resources I used to help me get familiar with Rails, all of which I wholeheartedly recommend:
		<ul>
			<li><a href="http://ruby.railstutorial.org/" target="_blank">Ruby on Rails Tutorial</li>
			<li><a href="http://www.railscasts.com" target="_blank">Railscasts</li>
			<li><a href="http://www.codeschool.com" target="_blank">Code School</li>
		</ul>
	</p>
</div>
<div class="test-css-class-on-about-page">
	CSS classes being picked up from layout.css.scss?
</div>