<section class="span8 offset2 auth-providers">
	<header class="auth-provider-header">Or sign in through Google or Twitter.</header>
	<a href="/auth/google_oauth2" class="auth-provider">
    <%= image_tag "google_apps_64.png", size: "64x64", alt: "Google" %>
		Google
  </a>
	<a href="/auth/twitter" class="auth-provider">
    <%= image_tag "twitter_64.png", size: "64x64", alt: "Twitter" %>
		Twitter
  </a>
</section>