<% provide(:title, 'Account Settings') %>
<%= render 'shared/mtd_ytd' %>
<div class="account">
	<div class="page-header">
		<h1>Account Settings</h1>
	</div>
	<%= render 'change_email' %>
	<%= render 'change_password' %>
	<%= render 'delete_account' %>
</div>