<% provide(:title, 'Budget') %>
<div class="budget">
  <%= render 'shared/mtd_ytd' %>
  <%= render 'shared/budget_status' %>
  <div class="page-header">
    <h1>Budget</h1>
  </div>
  <% if @categories.any? %>
    <table class="table">
      <thead>
        <th>Category</th>
        <th>Budgeted</th>
        <th>Spent</th>
        <th>+ / -</th>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <%= render 'budget_item', category: category %>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th>Total</th>
          <th id="budget-total"></th>
          <th id="spent-total"></th>
          <th id="plus-minus-total"></th>
        </tr>
      </tfoot>
    </table>
  <% else %>
    <div class="well">
      You need to create some categories on the Category page prior to setting up your budget.
    </div>
  <% end %>
</div>
