header {
	li {
		padding-top: 15px;
		
	}
	.divider-vertical {
		height: 70px !important;
	}
	
}

.test-css-class-on-about-page {
	color: green;
}

footer {
	border-top: 1px solid #eee;
	margin-top: 17px;
  padding-top: 17px;
	nav {
		@include horizontal-list;
		padding-left: 10px;
  }
}

.control-label {
	input[type="checkbox"] {
		vertical-align: text-top;
	}
}

.btn-wide {
	width: 120px !important;
}

.current-user {
	color: #FEFFF7
}