header {
	li { padding-top: 15px; }
	.divider-vertical { height: 70px !important; }	
	.current-user { color: #FEFFF7; }
}

footer {
	border-top: 1px solid #eee;
	margin-top: 17px;
  padding-top: 17px;
	nav {
		@include horizontal-list;
		padding-left: 10px;
  }
}

.sign-in {
	.control-label { input[type="checkbox"] { vertical-align: text-top; } }
	.btn-wide { width: 120px; }
}

.categories {
	table {
		width: 10px;
		min-width: 25%;
	}
	.field_with_errors { display: inline-block; }
}

// shared/error messages
#error_explanation { @include no-bullets; }

.test-css-class-on-about-page { color: green; }