header {
	li { padding-top: 15px; }
	.divider-vertical { height: 70px !important; }	
	.current-user { color: #FEFFF7; }
	.pull-right {
		a { 
			color: #FEFFF7 !important; 
			&:hover { color: #999 !important; }
		}
	}
}

footer {
	border-top: 1px solid #eee;
	margin-top: 17px;
  padding-top: 17px;
	nav {
		@include horizontal-list;
		padding-left: 10px;
  }
}

// shared/error messages
#error_explanation { @include no-bullets; }

.test-css-class-on-about-page { color: red; }