// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.reports {
	.inline {
		div, label, select {
			display: inline-block;
		}
	
		#incomeExpenseChart, #expensesChart {
			padding-right: 5px;
		}
		
		a { margin-bottom: 10px; }
		
		label {
			font-size: 110%;
			padding: 0px 5px 5px 0px;
		}
	}
	table {
		max-width: 70%;
		@extend .table, .table-striped;
	}
	tfoot {
		font-weight: bold;
		border-top: double;
	}

	.summary-column {
		border-left: double;
	}
	
	.chart {
		width: 455px;
		height: 300px;
	}

	.chart-wide {
		width: 900px;
		height: 400px;
	}
	
	.well {
		padding: 10px 5px 10px 5px;
	}
	
	.date-picker {
		width: 100px;
	}
	
	.left-label {
		margin-left: 15px;
	}
	.right-label {
		margin-left: 5px;
	}
}


