// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sign-in {
	.remember { 
		margin-top: 10px;
		input[type="checkbox"] { vertical-align: text-bottom; } 
	}
	.btn-wide { width: 120px; }
	.checkbox {  }
}
.sign-up {
	.btn-wide { width: 120px; }
}
.well { 
	min-width: 205px; 
	max-width: 350px;
}