// Place all the styles related to the Transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.transactions {
	table {
		@extend .table, .table-striped;	
		th {
			.current {
				font-size: 150%;
				padding-right: 12px;
			  background-repeat: no-repeat;
			  background-position: right center;
			}
			.asc { background-image: url(up_arrow.gif); }
			.desc { background-image: url(down_arrow.gif); }
		}
	} // end table
	
	label {
		&.radio {
			display: inline-block;	
			vertical-align: text-bottom;
			margin-right: 10px;
	  }
	}
	
	.add-trans { margin-bottom: 20px; }
	
	.download-transactions { 
		float:right; 
	}
}

.ui-autocomplete {
	max-height: 150px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	/* add padding to account for vertical scrollbar */
	padding-right: 20px;
}
	
	