<!-- controls -->
<div class="inline">
	<label class="left-label">Show:</label>
	<select id="bottomChartsRange">
		<option value="year">year to date</option>
    <option value="2012">2012</option>
    <option value="2011">2011</option>
    <option value="asdfsdaf">abba is god</option>
		<option value="all">all</option>
	</select>
	<%= link_to 'Show / hide details', '#', id:'toggle_btm_details', class:'btn'%>
</div>
<!-- charts and data -->
<div id="btmCharts" class="inline">
	<%= render 'income_expense' %>
	<%= render 'profit_loss' %>
</div>