<!-- controls -->
<div class="inline">
	<label class="left-label">Show:</label>
  <%= select_tag("bottomChartsRange", options_for_select(@middle_charts_period_options)) %>
</div>
<!-- charts and data -->
<div id="btmCharts" class="inline">
	<%= render 'expense_trend' %>
</div>
<div id="btmCharts" class="inline">
	<%= render 'income_trend' %>
</div>