<div id="expenseTrend">
	<div id="expenseTrendChart" class="chart-wide" data-chart="/reports/expense_trend">
	</div>
	<table id="expenseTrendTable" class="table-wide">
		<thead>
			<tr><th></th></tr>
		</thead>
		<tbody>
		</tbody>
		<tfoot>
		</tfoot>
	</table>
</div>