<div id="expenses">
	<div id="expensesChart" class="chart" data-chart="/reports/expenses">
	</div>
	<table id="expensesTable">
		<thead>
			<tr>
				<th>Category</th>
				<th>Amount</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>