<div id="expenses">
	<div id="expensesChart" data-chart="/reports/expenses" style="width: 525px; height: 300px;">
	</div>
	<table id="expensesTable">
		<thead>
			<tr>
				<th>Category</th>
				<th>Amount</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>