<div id="expenseTrend">
	<div id="expenseTrendChart" class="chart-wide" data-chart="/reports/expense_trend">
	</div>
	<table id="expenseTrendTable">
		<thead>
			<tr>
				<th>Category</th>
				<th>Amount</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
		<tfoot>
		</tfoot>
	</table>
</div>