<div id="incomeExpenses">
	<div id="incomeExpenseChart" data-chart="/reports/income_and_expense" style="width: 525px; height: 300px;">
	</div>
	<table id="incomeExpenseTable">
		<thead>
			<tr>
				<th></th>
				<th>Income</th>
				<th>Expenses</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>