<div id="incomeExpenses">
	<div id="incomeExpenseChart" class="chart" data-chart="/reports/income_and_expense">
	</div>
	<table id="incomeExpenseTable">
		<thead>
			<tr>
				<th></th>
				<th>Income</th>
				<th>Expenses</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
		<tfoot>
		</tfoot>
	</table>
</div>