<!-- controls -->
<div class="inline">
	<label class="left-label">Show:</label>
  <%= select_tag("incomeTrendChartRange", options_for_select(@chart_period_options)) %>
  <%= link_to 'Show / hide details', '#', id:'toggle_income_trend_details', class: 'btn'%>
</div>
<!-- charts and data -->
<div id="incomeTrendChartContainer" class="inline">
	<%= render 'income_trend' %>
</div>