<div id="income">
	<div id="incomeChart" data-chart="/reports/income" style="width: 525px; height: 300px;">
	</div>
	<table id="incomeTable">
		<thead>
			<tr>
				<th>Category</th>
				<th>Amount</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>