<div id="incomeTrend">
	<div id="incomeTrendChart" class="chart-wide" data-chart="/reports/income_trend">
	</div>
	<table id="incomeTrendTable" class="table-wide">
		<thead>
			<tr><th></th></tr>
		</thead>
		<tbody>
		</tbody>
		<tfoot>
		</tfoot>
	</table>
</div>