<div id="incomeTrend">
	<div id="incomeTrendChart" class="chart-wide" data-chart="/reports/income_trend">
	</div>
	<table id="incomeTrendTable">
		<thead>
			<tr>
				<th>Category</th>
				<th>Amount</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
		<tfoot>
		</tfoot>
	</table>
</div>