<div id="income">
	<div id="incomeChart" class="chart" data-chart="/reports/income">
	</div>
	<table id="incomeTable">
		<thead>
			<tr>
				<th>Category</th>
				<th>Amount</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>