<div id="profitLoss">
	<div id="profitLossChart" class="chart" data-chart="/reports/profit_loss">
	</div>
	<table id="profitLossTable">
		<thead>
			<tr>
				<th></th>
				<th>Profit / Loss</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>