<div id="profitLoss">
	<div id="profitLossChart" data-chart="/reports/profit_loss" style="width: 525px; height: 300px;">
	</div>
	<table id="profitLossTable">
		<thead>
			<tr>
				<th></th>
				<th>Amount</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>