<% provide(:title, 'Reports') %>
<div class="reports">
	<div class="page-header">
		<h1>Reports</h1>
	</div>
	<div class="well">
		<%= render 'top_charts' %>
	</div>	
	<div class="well">
		<%= render 'bottom_charts' %>
	</div>
</div>